<div class="banner-grid">
    <div class="banner-grid__container">
        <div class="banner-grid__figure">
            <img src="@img(vitrine-01)" />
        </div>
        <div class="banner-grid__main">
            <h3 class="banner-grid__title">
                meet designers <br />eva & nina
            </h3>
            <div class="banner-grid__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </div>
            <div class="banner-grid__action">
                <a class="banner-grid__link">read more</a>
            </div>
        </div>
    </div>
</div>

<div class="banner-grid">
    <div class="banner-grid__container">
        <div class="banner-grid__figure">
            <img src="@img(vitrine-02)" />
        </div>
        <div class="banner-grid__main">
            <h3 class="banner-grid__title">
                workshop in our <br />ceramic studio
            </h3>
            <div class="banner-grid__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </div>
            <div class="banner-grid__action">
                <a class="banner-grid__link">read more</a>
            </div>
        </div>
    </div>
</div>