<div class="blog">
    <div class="blog__container">
        <div class="blog__list">

            <div class="blog__item">
                <div class="blog__figure">
                    <img class="blog__img" src="@img(blog1)" />
                </div>
                <div class="blog__main">
                    <h4 class="blog__category">Art - Pottery</h4>
                    <h3 class="blog__title">
                        japan design 2018: <br />
                        handmade ceramic ideas
                    </h3>
                    <div class="blog__author">Nina Marling</div>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__figure">
                    <img class="blog__img" src="@img(blog1)" />
                </div>
                <div class="blog__main">
                    <h4 class="blog__category">Art - Pottery</h4>
                    <h3 class="blog__title">
                        japan design 2018: <br />
                        handmade ceramic ideas
                    </h3>
                    <div class="blog__author">Nina Marling</div>
                </div>
            </div>
            <div class="blog__item">
                <div class="blog__figure">
                    <img class="blog__img" src="@img(blog1)" />
                </div>
                <div class="blog__main">
                    <h4 class="blog__category">Art - Pottery</h4>
                    <h3 class="blog__title">
                        japan design 2018: <br />
                        handmade ceramic ideas
                    </h3>
                    <div class="blog__author">Nina Marling</div>
                </div>
            </div>

        </div>
    </div>
</div>