<div class="sobre">
    <div class="sobre__container">
        <div class="sobre__content">
            <h3 class="sobre__title sobre__title--h1">
                Mimos de Crochet prontos para amar
            </h3>
            <div class="sobre__social">
                <h3 class="sobre__social-title">Siga as nossas redes</h3>
                <div class="sobre__social-main">
                    {{widget type="interface/widget_social" template="interface/widgets/social.phtml" identificador="sobresocial" redes="all"}}
                </div>
            </div>
        </div>
        <div class="sobre__banner">
            <img src="@img(sobre01)	" />
        </div>
    </div>
    <div class="sobre__container sobre__container--rtl">
        <div class="sobre__content">
            <h3 class="sobre__title sobre__title--h3">manifesto</h3>
            <div class="sobre__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua lorem ipsum.
            </div>
        </div>
        <div class="sobre__banner">
            <img src="@img(sobre02)	" />
        </div>
    </div>
    <div class="sobre__container">
        <div class="sobre__content">
            <h3 class="sobre__title sobre__title--h2">
                Gostou e quer revender nossos produtos?
            </h3>
            <a href="/contato" class="sobre__link">entre em contato.</a>
        </div>
    </div>
</div>