.main
    .blog
        margin: 100px auto
        width: viewport
        max-width: 100%

        img
            min-width: 100%

        &__list
            display: flex
            flex-flow: row wrap
            margin: -15px

        &__item
            position: relative
            flex: 1 1 440px
            padding: 15px

        &__main
            position: absolute
            left: 45px
            right: 45px
            bottom: 45px
            background: #fff
            padding: 30px

        &__category
            font-size: 12px
            font-weight: bold
            text-transform: uppercase
            padding-bottom: 20px

        &__title
            position: relative
            font-family: font-two
            font-size: 17px
            text-transform: uppercase
            padding-bottom: 25px
            margin-bottom: 25px

            &:before
                content: ''
                position: absolute
                bottom: 0
                left: 0
                width: 50px
                height: 3px
                background: #a0a0a0

        &__author
            font-size: 15px
            font-weight: normal
            color: #a0a0a0
