.logo
    display: flex 
    justify-content: flex-start
    align-items: center
    flex: 1 
    min-width: 0 

    .has-m-img
        .m-img
            display: none !important

        .d-img
            display: block !important
            width: 98px
            height: 38px

@media (min-width: 993px)
    .logo 
        flex: 0 0 auto