.category-title, .toolbar .view-mode, .toolbar .limiter, .toolbar .sort-by label
    display: none

.col-main > .category-image
    display: none

.toolbar .amount
    &, .total
        font-size: 14px
        font-weight: normal
        color: #959494

.category-description
    font-size: 13px
    color: #959494